* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

body {
  font-family: "Cairo", sans-serif;
  background: #fff;
}
.container {
  padding-inline: 1rem;
}

.front {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e5beec;
  position: fixed;
  top: 0;
  left: 0;
  transition: 700ms ease;
  z-index: 2;
}

.info {
  position: absolute;
  position: absolute;
  top: 30px;
  left: 20px;
}
.h1 span {
  color: #fde2f3;
}

.info > p {
  font-weight: bold;
}
.design {
  color: #917fb3;
}
.btn {
  padding: 15px 30px;
  background: #917fb3;
  color: #fff;
  font-size: 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.hide {
  transform: translateY(-100%);
  opacity: 0;
}

.h2 {
  font-size: 30px;
  margin-block: 1rem;
  text-align: center;
  color: #2a2f4f;
  text-decoration: underline;
}

.list__preview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card__preview {
  height: 60px;
  display: grid;
  place-content: center;
  position: relative;
  background: #e5beec;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 3px 0 2px #917fb3;
  transition: 0.3s;
}

.card__preview.active {
  height: 40vh;
  box-shadow: none;
}

.card__preview .h3 {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__preview.active .h3 {
  display: none;
}

.card__preview .img {
  opacity: 0;
  transition: 0.5 ease;
  pointer-events: none;
  width: 420px;
}
.card__preview.active .img {
  pointer-events: all;
  opacity: 1;
}

@media (min-width: 567px) {
  .back {
    margin-inline: auto;
    max-width: 540px;
    width: 100%;
  }

  .card__preview.active {
    height: 50vh;
  }
}
@media (min-width: 768px) {
  .back {
    max-width: 720px;
  }

  .card__preview.active {
    height: 70vh;
  }
}
@media (min-width: 992px) {
  .back {
    max-width: 960px;
  }

  .list__preview {
    flex-direction: row;
    gap: 1rem;
  }
  .card__preview .h3 {
    text-orientation: upright;
    writing-mode: vertical-lr;
    white-space: nowrap;
  }
  .card__preview {
    min-height: 80vh;
    width: 5rem;
  }
  .card__preview .img {
    width: 560px;
  }
  .card__preview.active {
    width: 62rem;
  }
}
@media (min-width: 1200px) {
  .back {
    max-width: 1140px;
  }

  .card__preview {
    width: 4rem;
  }
  .card__preview.active {
    width: 50rem;
  }
}
